@model AppMapas.Domain.Departamento


<form asp-action="CreateDepartamento">

    <H1>Ingrese datos departamento</H1>
    <br />
    <label>Ingrese Nombre Departamento</label>
    <br />
    <input type="text" asp-for="Nombre"/>
    <br />
    <input type="submit" value="Guardar"/>


</form>
